<div class="bg-darker p-3">
	<h2 class="d-inline"><img src="/img/trm_logo.png" width="40" alt="TRM Logo" class="rounded-circle align-top" /> <a href="/blog/" class="text-white">Michael Webb for Wiimmfi</a></h2>
	<div class="d-inline pb-2 ml-3">
		<a href="/" class="mr-2" style="color: white;"><i class="fa fa-home"></i> Home</a>
	    <a href="https://twitter.com/WebbWarRoom" class="mr-2 text-twitter"><i class="fab fa-twitter"></i> Twitter War Room</a>
		<a href="https://twitter.com/michaelwebbtrm" class="mr-2 text-twitter"><i class="fab fa-twitter"></i> Personal Twitter</a>
		<a href="" data-toggle="modal" data-target="#emailModal" class="mr-2 text-blog"><i class="fas fa-envelope"></i> Email</a>
		<a href="/about/" class="mr-2" style="color: white;"><i class="fa fa-user"></i> About me</a>
	</div>
</div>